{{template "base" .}}

{{define "content"}}
    <div class="container">    
        <p class="h1">About </p>
        <p>This is information about page</p>
        <h2> This Came from TemplateData: {{ index .StringMap "test"}} </h2>
    </div>
{{end}}